
.carousel-item {
    transition: transform 0s ease-in-out;
  }
  
.marquee {

    white-space: nowrap;
    position:absolute;
    overflow: hidden;
    animation: linear infinite;
}  






/*- pet 
.ngo img:last-child {
    display: none;  
  }
  
.ngo:hover img:last-child {
    display: block;  
  }
  
.ngo:hover img:first-child {
    display: none;  
  }

-------------------------------
- COLOR primary

https://lingtalfi.com/bootstrap4-color-generator#
------------------------------------*/
