
.carousel-item {
    transition: transform 0s ease-in-out;
  }
  
.marquee {

    white-space: nowrap;
    position:absolute;
    overflow: hidden;
    animation: linear infinite;
}  


/*- pet -*/

a img {
    width: 15%;
    position: relative;
}
a img:last-child {
    display: none;  
  }

  a:hover img:last-child {
    display: block;  
  }
  
  a:hover img:first-child {
    display: none;  
  }

/*------------------------------------
- COLOR primary

https://lingtalfi.com/bootstrap4-color-generator#
------------------------------------*/
